@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #716862;
  font-family: var(--font-myriad), Arial, Helvetica, sans-serif;
}
